.navbar {
	overflow: auto;
	white-space: nowrap;
	width: 100%;
	background-color: rgb(255, 66, 66);
	color: white;
	position: fixed;
	box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22)
}

ul {
	list-style-type: disc;
}
.navbar li {
	display: inline-block;
	padding: 26px;
	text-align: center;
	width: 33.33%;
}
